@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Orbitron:wght@400..900&display=swap');

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: "IBM Plex Mono", monospace;
    background-size: 300% 300%;
    animation: gradientMove 20s ease infinite;
}

:root {
    --primary-color: #03A062;
    --box-shadow: 0 0 15px 5px var(--primary-color);
}


@keyframes gradientMove {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}


.welcome-body {
    background-color: black;
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-family: "IBM Plex Mono", monospace;
    overflow: hidden;

}


.welcome-container {
    display: block;
    text-align: center;
    position: relative;
    z-index: 1;

}

.welcome-heading {
    color: rgb(50, 180, 50);
    border-right: 5px solid;
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
    opacity: 0;
}

.welcome-button {
    font-size: 1.2em;
    color: black;
    border: 2px solid white;
    border-radius: 4em;
    cursor: pointer;
    transition: opacity 0.5s ease, transform 0.3s ease, background-color 0.3s ease;
    text-align: center;
    margin: 0;
    cursor: pointer;
    color: black;
    opacity: 0;
}

.welcome-button a {
    cursor: pointer;
    font-size: 1.2em;
    text-decoration: none;
    padding-left: 2em;
    padding-right: 2em;
    color: black;
}

.welcome-button:hover {
    background-color: rgb(50, 180, 50);
    border: 2px solid rgb(50, 180, 50);
}

.welcome-button:hover a {
    color: white;
}


body.start-typing .welcome-heading {
    opacity: 1;
    animation: typing 2s steps(22) forwards,
        cursor .4s step-end infinite alternate;
}

body.start-typing .welcome-button {
    opacity: 1;
    pointer-events: auto;
    transition: opacity 0.5s ease, transform 0.3s ease, background-color 0.3s ease;
}



.welcome-paragraph {
    color: rgb(0, 153, 0);
    margin: 0;
    overflow: hidden;
    width: 100%;

}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
}


@keyframes cursor {
    50% {
        border-color: transparent
    }
}

@keyframes typing {
    from {
        width: 0
    }
}


/* index.html */

body {
    background-color: black;
    color: white;
}

.nav-bar {
    width: 100%;
    padding: 1.2em;
    background: rgba(31, 80, 35, 0.8);
}

.nav-bar .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 1.4em;
}

.nav-bar .container .name {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-decoration: none;
    color: white;
    font-size: 5em;
    font-family: "Orbitron", sans-serif;

}

.nav-bar .nav-list {
    margin-right: auto;

}


.nav-list .pages-list {
    display: flex;
    justify-content: space-evenly;
    gap: 3em;
    list-style: none;
    align-items: flex-start;
    margin: 0;
    padding: 1.2em;


    background: rgba(31, 80, 35, 0.41);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.2px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(31, 80, 35, 0);

    position: fixed;
    top: 2em;
    z-index: 1000;

    align-self: flex-start;

}

.nav-bar .pages-list a {
    text-decoration: none;
    color: white;
    font-size: 1em;
    position: relative;
}

.nav-bar .pages-list a:hover {
    font-weight: bold;
}


.style-button {
    display: block;
    text-align: center;
    padding: 0.3em;
    font-size: 1.2em;
    border-radius: 0.6em;
    cursor: pointer;
    text-transform: uppercase;
    transition: background-color 0.3s, color 0.5s;
    font-family: "Orbitron";
}

.style-button:hover {
    background-color: black;
    color: white;
}



section {
    padding: 2em 2em;
}


.intro-section {
    text-align: center;
    margin-bottom: 0em;
}

.container-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5em;
}

.intro-section .container-intro .intro {
    font-size: 2em;
    line-height: 1.3em;
    overflow: hidden;
    display: inline-block;
    white-space: normal;
}

.left-col .my-name {
    color: var(--primary-color);
}


.intro-section .container-intro .left-col .skill-list {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding: 0;
    margin-top: 5em;

}

.intro-section .container-intro .left-col .skill-list li {
    font-size: 1.1em;
    border: 2px solid #03A062;
    border-radius: 4em;
    padding: 1.1em;
    animation: reveal both;
    animation-timeline: view(50% auto);
    transition: background 0.4 ease;
}

.intro-section .container-intro .left-col .skill-list li:hover {
    background-color: rgba(7, 98, 4, 0.5);
    border: 2px solid rgba(7, 98, 4, 0.5);

}

@keyframes reveal {
    from {
        filter: saturate(0) contrast(4) brightness(.1) blur(5px);
        opacity: 0;
        scale: 0.95;
        translate: 0 4rem;
    }

    to {
        filter: none;
        opacity: 1;
        scale: 1;
        translate: 0 0;
    }
}

.jenil-image {
    order: -1;
    margin: 0;
    border-radius: 10em;
    width: 30em;
    object-fit: cover;
    height: 50em;
    object-position: top;
}


.bio-section h2,
.hobbies-section h2 {
    font-size: 2.5em;
    margin: 0;
    display: none;
}

.bio-section {
    margin-bottom: 0em;
    padding: 0;
}

.hobbies-section {
    padding-top: 2em;
}

.bio-section p {
    font-size: 1.6em;
    padding: 0.8em;
    margin: 0;
    padding-bottom: 0;
    text-align: center;
    overflow: hidden;


}

.hobbies-section p {
    font-size: 1.6em;
    margin: 0;
    padding-left: 0.8em;
    text-align: center;

}

.text-part-index {
    border: 2px solid var(--primary-color);
    border-radius: 4em;
    margin: 5em;
    padding: 1.4em;
}

.text-part-index:hover {
    box-shadow: var(--box-shadow);
}


/* portfolio.html */
.current {
    font-weight: bold;
}


.nav-bar .container .nav-list .pages-list .home {
    width: 28px;
    height: 28px;
    vertical-align: middle;
    fill: white;
}


.portfolio .nav-bar {
    padding: 2.5em;

}

.portfolio .nav-bar .container .name {
    position: absolute;
    left: 88%;
    transform: translateX(-50%);
    text-decoration: none;
    color: white;
    font-size: 5em;

}

.portfolio .nav-bar .container .name span {
    display: none;
}


.title-page {
    padding: 1em;
    margin: 0;
    font-size: 3em;
    text-align: center;
}

.projects {
    padding: 2em;
    margin-bottom: 2em;
}


.projects .main-container {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: auto;
    gap: 2em;

    overflow-x: auto;
    overflow-y: visible;
    overscroll-behavior-inline: contain;
    scroll-snap-type: x mandatory;

    scrollbar-width: thin;
    scrollbar-color: #0F0 #1a1a1a;

    margin-left: auto;
    margin-right: auto;

    padding-bottom: 2em;
    padding-left: 2em;

}


.container-1,
.container-2,
.container-3,
.container-4 {
    height: 30em;
    width: 50em;
    padding: 1.5em;
    background: #1a1a1a;
    border-radius: 1.5em;
    display: grid;
    scroll-snap-align: center;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.6);
    transition: transform 0.2s ease, box-shadow 0.2s ease;

}

.container-1.expanded,
.main-container .container-2.expanded,
.main-container .container-3.expanded,
.main-container .container-4.expanded {
    height: 40em;
}


.container-1:hover,
.container-2:hover,
.container-3:hover,
.container-4:hover {
    transform: scale(1.02);
    box-shadow: -15px 10px 10px 2px rgba(6, 93, 3, 0.5);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.container-1:hover h3,
.container-2:hover h3,
.container-3:hover h3,
.container-4:hover h3 {
    color: rgba(17, 221, 10, 0.5);
}


.main-container .button-row{
    display: flex;
    justify-content: space-between;
}

.container-1 .resume-button,
.container-2 .resume-button,
.container-3 .resume-button,
.container-4 .resume-button,
.container-1 .read-more-button,
.container-2 .read-more-button,
.container-3 .read-more-button,
.container-4 .read-more-button {
    padding: 0.5em;
    border-radius: 10em;
    cursor: pointer;
    height: 35px;
}

.container-1:hover .resume-button,
.container-2:hover .resume-button,
.container-3:hover .resume-button,
.container-4:hover .resume-button,
.container-1:hover .read-more-button,
.container-2:hover .read-more-button,
.container-3:hover .read-more-button,
.container-4:hover .read-more-button{
    background-color: black;
    color: white;

}

.main-container h3 {
    font-size: 1.5em;
    text-align: center;
}

.main-container p {
    font-size: 1.3em;
}

/* read more porfolio */
.main-container .read-more-text {
    display: none;
}

.read-more-text.show {
    display: inline;
}


.main-container ul {
    font-size: 1.1em;
}

.main-container li::before {
    content: "* ";
}

.main-container li {
    list-style: none;
}

.contact-info {
    display: flex;
    justify-content: center;
    padding: 2em;

}

.main-container .front-side {
    display: none;
}

.contact-info ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    gap: 1.5em;
    padding: 0;
}

svg {
    fill: white;
    cursor: pointer;
    height: 40px;
    width: 40px;
    transition: fill 0.3s;
}


.discord:hover {
    fill: #5865F2;
    transform: scale(1.2);
}

.linkedin:hover {
    fill: #0A66C2;
    transform: scale(1.2);
}

.gmail:hover {
    fill: #EA4335;
    transform: scale(1.2);
}

.github:hover {
    fill: #03A062;
    transform: scale(1.2);
}


/* qualifications */

.qualifications .nav-bar {
    padding: 2.5em;

}

.qualifications .nav-bar .container .name {
    position: absolute;
    left: 88%;
    transform: translateX(-50%);
    text-decoration: none;
    color: white;
    font-size: 5em;

}

.qualifications .nav-bar .container .name span {
    display: none;
}

.qualifications .resume-container {
    position: relative;
}

.qualifications .resume-image {
    height: 40em;
    width: 30em;
    position: absolute;
    right: 3em;
}

.resumeFrame {
    height: 40em;
    width: 30em;
    position: absolute;
    right: 3em;
}

.qualifications .resume-image:hover {
    transform: scale(1.1);
}

.qualifications .resumeFrame {
    transform: scale(1.1);
}

.qualifications .resume-container .button {
    position: absolute;
    right: 14em;
    bottom: 2.4em;
    font-size: 1em;

    border-radius: 2em;
    padding-top: 10px;
    padding-bottom: 10px;

    font-family: 'Monospace';

    transition: background-color 0.3s, color 0.5s;

    border: #1a1a1a
}

.qualifications .resume-container .button:hover {
    background-color: var(--primary-color);
    color: white;
    border: var(--primary-color);
}


.skill-levels {
    padding: 2em;
}

.technical-skills .left-col {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
    width: 80%;
    margin-left: 10em;
}

.technical-skills {
    width: 4em;
    position: relative;
}

.skill-box {
    border: 2px solid white;
    border-radius: 8px;
    padding: 1em;
    width: fit-content;

    height: 12em;
    width: 15em;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    align-items: center;
    text-align: center;

    margin-right: 2em;

}


.skill-box h3 {
    margin-top: 0;
    font-size: 1em;
}

.skill-box ul {
    padding: 0;
}

.skill-box li {
    list-style: none;
    font-size: 1em;
}

.skill-box:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(7, 98, 4, 0.5);
    border-color: rgba(8, 97, 5, 0.5);
    transition: all 0.3s ease;
    cursor: pointer;
    border: 2px solid var(--primary-color);
}


.skill-box:hover h3 {
    color: rgba(17, 221, 10, 0.5);
}

.skill-box:hover li {
    color: #f0f0f0;
}



.areas-of-interest .right-col {
    margin-top: 5em;
    margin-left: 3em;
    width: 50%;
    margin-right: auto;
    border: 2px solid var(--primary-color);
    padding: 2em;
    border-radius: 2em;
}



.areas-of-interest .right-col:hover {
    box-shadow: var(--box-shadow);

}

.areas-of-interest .right-col:hover h3 {
    color: rgba(17, 221, 10, 0.5);

}


.areas-of-interest .right-col h3 {
    font-size: 1.2em;
}

.areas-of-interest .right-col li {
    font-size: 0.8em;
}


html {
    overflow-x: hidden;
}


/* Services */

.service .nav-bar {
    padding: 2.5em;

}

.service .nav-bar .container .name {
    position: absolute;
    left: 88%;
    transform: translateX(-50%);
    text-decoration: none;
    color: white;
    font-size: 5em;

}

.service .nav-bar .container .name span {
    display: none;
}


.div-services {
    display: flex;
    justify-content: space-between;
    gap: 2em;
}

.div-services .text-section {
    padding: 6em;
    padding-right: 3em;
    font-size: 2em;
}

.div-services .text-section p {
    border: 2px solid var(--primary-color);
    padding: 2em;
    border-radius: 4em;
    margin: 0;
}

.div-services .text-section p:hover {
    box-shadow: 0 0 15px 5px var(--primary-color);
}

.service-images {
    padding: 2em;
    display: flex;
    flex-direction: column;
}

.service-images .av {
    height: 40em;
    width: 30em;
    border-radius: 2em;
    margin-bottom: 3em;
    margin-top: 5em;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service-images .memorial {
    height: 40em;
    width: 30em;
    border-radius: 2em;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.av:hover,
.memorial:hover {
    transform: scale(1.05);
    box-shadow: -10px 10px 40px rgba(7, 98, 4, 0.5);

}